* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 20px;
    overflow-x: hidden;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}


.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    max-width: 100%;
}

.photo {
    position: relative;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.photo img {
    width: 100%;
    aspect-ratio: 3 / 4; 
    object-fit: cover; 
    display: block;
    transition: transform 0.3s ease;
    max-width: 100%;
    max-height: calc(100vh - 60px); 
}

.photo img:hover {
    transform: scale(1.05);
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: grid;
    grid-template-columns: 2fr 3fr; 
    color: white;
    text-align: center;
    z-index: 10;
}

.popup-left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#popup-img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
}

.popup-right {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: auto;
    max-height: 90vh;
    overflow: hidden;
    padding: 20px;
}

#popup-video {
    width: 80%;
    max-width: 560px;
    aspect-ratio: 16 / 9; 
    margin-bottom: 20px;
}

#photo-description {
    width: 100%;
    font-size: 1em;
    white-space: nowrap;
    text-align: center;
    max-width: 560px;
}

#photo-description p{
    margin: 3px 0;
}